@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .css-invert {
    @apply invert-[49%] brightness-[1000%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .heading1 {
    @apply text-[32px] leading-[42px] font-semibold;
  }

  .heading3-medium {
    @apply text-[24px] leading-[31px] font-medium;
  }

  .heading3-semibold {
    @apply text-[24px] leading-[31px] font-semibold;
  }

  .heading4-medium {
    @apply text-[20px] leading-[26px] font-medium;
  }

  .heading4-semibold {
    @apply text-[20px] leading-[26px] font-semibold;
  }

  .paragraph-regular {
    @apply text-[16px] leading-[22px] font-normal;
  }

  .paragraph-medium {
    @apply text-[16px] leading-[22px] font-medium;
  }

  .paragraph-semibold {
    @apply text-[16px] leading-[22px] font-semibold;
  }

  .body-regular {
    @apply text-[14px] leading-[24px] font-normal;
  }

  .body-medium {
    @apply text-[14px] leading-[18.2px] font-medium;
  }

  .body-semibold {
    @apply text-[14px] leading-[21px] font-semibold;
  }

  .small-regular {
    @apply text-[12px] leading-[15.6px] font-normal;
  }

  .small-medium {
    @apply text-[12px] leading-[15.6px] font-medium;
  }

  .subtle {
    @apply text-[13px] leading-[15px] font-normal;
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%) !important;
}

.primary-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
}

.dark-gradient {
  background: linear-gradient(
    232deg,
    rgba(23, 28, 35, 0.41) 0%,
    rgba(19, 22, 28, 0.7) 100%
  );
}

.light-gradient {
  background: linear-gradient(
    132deg,
    rgba(247, 249, 255, 0.5) 0%,
    rgba(229, 237, 255, 0.25) 100%
  );
}
